//colors
$primaryBlue: rgb(79, 205, 255);
$primaryYellow: yellow;
$primaryPink: hotpink;
$accentNeutral: rgb(250, 242, 182);
$accentAqua: rgb(25, 255, 171);

//font-sizes
$fsXL: 4.5em;
$fsL: 3em;
$fsM: 1.5em;
$fsS: 1em;

//image-sizes
$imgXL: 50dvh;
$imgL: 30dvh;
$imgM: 20dvh;
$imgS: 10dvh;

//button-sizes
$bigBtnH: 9dvh;
$mediumBtnH: 7dvh;
$smallBtnH: 5dvh;


@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes flicker {
  0% { filter: brightness(30%) }
  5% { filter: brightness(100%)}
  10% { filter: brightness(30%)}
  15% { filter: brightness(100%)}
  20% { filter:brightness(30%) }
  70% { filter:brightness(110%) }
  100% { filter:brightness(120%) }
}

@keyframes turnOn {
  0% { filter: brightness(0%); text-shadow: 0 0 0; }
  20% { filter: brightness(20%); text-shadow: 0 0 1px;}
  40% { filter: brightness(40%); text-shadow: 0; }
  60% { filter: brightness(60%); text-shadow: 1px 1px 2px; }
  80% { filter: brightness(80%); text-shadow: 1px 1px 2px; }
  100% { filter: brightness(110%); text-shadow: 1px 1px 2px; }
}

@keyframes rotate {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}