//colors
$primaryBlue: hsl(197, 100%, 65%);
$primaryYellow: hsl(60, 100%, 50%);
$primaryPink: hsl(330, 100%, 71%);
$accentNeutral: hsl(53, 87%, 85%);
$accentAqua: hsl(158, 100%, 55%);

//fonts
$handwritingFont: 'Indie Flower';
$gamerFont: 'Press Start 2P';
$groovyFont: 'Spicy Rice';
$threeDFont: 'Bungee Shade';
$fatFont: 'Monoton';

//image-sizes
$imgXL: 50vh;
$imgL: 30vh;
$imgM: 20vh;
$imgS: 10vh;

//button-sizes
$bigBtnH: 9vh;
$mediumBtnH: 7vh;
$smallBtnH: 5vh;


@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes flicker {
  0% { filter: brightness(30%) }
  5% { filter: brightness(100%)}
  10% { filter: brightness(30%)}
  15% { filter: brightness(100%)}
  20% { filter:brightness(30%) }
  70% { filter:brightness(110%) }
  100% { filter:brightness(120%) }
}

@keyframes turnOn {
  0% { filter: brightness(0%); text-shadow: 0 0 0; }
  20% { filter: brightness(20%); text-shadow: 0 0 1px;}
  40% { filter: brightness(40%); text-shadow: 0; }
  60% { filter: brightness(60%); text-shadow: 1px 1px 2px; }
  80% { filter: brightness(80%); text-shadow: 1px 1px 2px; }
  100% { filter: brightness(110%); text-shadow: 1px 1px 2px; }
}

@keyframes rotate {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}