@import '../../resources/variables';

@keyframes breathe {
  0% { border-radius: 10vw 25vw 35vw 50vw; }
  20% { border-radius: 35vw 50vw 10vw 25vw; }
  40% { border-radius: 45vw 25vw 35vw 50vw; }
  60% { border-radius: 25vw 35vw 50vw 20vw; }
  80% { border-radius: 20vw 45vw 45vw 30vw; }
  100% { border-radius: 15vw 20vw 15vw 20vw; }
}

.projects-header {
    font-family: $threeDFont;
    color: goldenrod;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../resources/header-blob.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5vh;
}

.projects-section-container {
  @include flexCenter();
  flex-direction: column;
  position: relative;
  border: 3px solid rgba($color: rgb(255, 255, 255), $alpha: .8);
  outline: 2px solid aqua;
  border-radius: 30px;
  background-color: rgba($color: rgb(170, 170, 170), $alpha: 1);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  aspect-ratio: 1;
  z-index: 1;
  box-shadow: 0 0 200px white, 0 0 100px black inset;




  .projects-wrapper { 
    @include flexCenter();
    position: relative;
    margin: 0 auto;
    animation: breathe 70s linear 0s infinite alternate forwards;
    width: 85%;
    aspect-ratio: 1;
    background-color: rgba($color: rgb(9, 214, 255), $alpha: 1);
    z-index: -5;  

    .project-card {
      @include flexCenter();
      flex-direction: column;
      row-gap: clamp(0.75rem, 2vh, 2rem);
      background-color: transparent;
      max-width: 70%;
      opacity: .9;
      text-decoration: none;
      font-family: $fatFont;
      letter-spacing: 1.65px;
      text-align: center;
      color: hsl(0, 0%, 15%);
      font-size: clamp(0.75rem, 5vw, 2.25rem);

      .project-img {
        border-radius: 25px;
        max-width: 75%;
        transition: all 500ms;
        &:hover {
          box-shadow: 0px 0px 8px 8px white, 0px 0px 8px 12px aqua;
        }
      }

      .project-tags-container {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .project-tag {
          width: 12%;
          opacity: .85;
        }
      }
    }

    .prev-button {
      width: 5vw;
      font-size: clamp(3.5rem, 7vw, 6rem);
      background-color: transparent;
      border: none;
      position: absolute;
      left: 10%;
      transform: rotate(180deg);
      color: orangered;
      opacity: .5;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
    
    .next-button {
      width: 5vw;
      font-size: clamp(3.5rem, 7vw, 6rem);
      background-color: transparent;
      border: none;
      position: absolute;
      right: 10%;
      color: orangered;
      opacity: .5;

      &:hover {
        cursor: pointer;
        opacity: 1;
        text-shadow: 0px 0px 8px aqua;
      }
    }
  }
  .projects-wrapper::before {
    position: absolute;
    inset: 0;
    margin: auto;
    content: ' ';
    width: 90%;
    aspect-ratio: 1;
    transform: rotate(-5deg);
    background-color: rgba($color: yellow, $alpha: 0.5);
    z-index: -5;
    animation: breathe 30s linear 0s infinite alternate forwards;
  }
  .projects-wrapper::after {
    position: absolute;
    inset: 0;
    margin: auto;
    content: ' ';
    width: 65%;
    aspect-ratio: 1;
    background-color: rgba($color: hotpink, $alpha: .5);
    transform: rotate(4deg);
    z-index: -5;
    animation: breathe 45s linear 0s infinite alternate forwards;
  }

  .project-tags {
    @include flexCenter();
    max-width: 50px;
    aspect-ratio: 1;
  }

  .repo-link-button {
    position: relative;
    @include flexCenter();
    max-width: 45%;
    padding: clamp(.1rem, 1vh, .5rem) clamp(.25rem, 3vw, 3rem);
    border-radius: 100vmax;
    text-transform: uppercase;
    text-decoration: none;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 2.5px;
    font-family: $fatFont;
    font-size: clamp(.75rem, 3vw, 2rem);
    cursor: pointer;
    filter: brightness(135%);
    background-image: linear-gradient(90deg, hsl(189.76deg 100% 51.76%) , hsl(6.67deg 34.88% 74.71%) , hsl(114.22deg 68.6% 76.27%) );
    background-size: 500%;
    animation: slideBg 5s linear 0s infinite alternate forwards;;
    transition: all 500ms;

    &::after {
      position: absolute;
      content: '';
      height: 105%;
      width: 105%;
      border: hsl(0, 0%, 15%, .5) solid 1px;
      border-radius: 100vmax;
      background-color: hsla(0, 0%, 0%, 0.125);
      transition: all 400ms;
    }
    
    &:hover {
      filter:brightness(100%);
      color: $primaryBlue;

      &::after {
        background-color: hsla(34, 78%, 91%, 0.125);
        box-shadow: 
        1vw 0px 1px hsl(345, 42%, 77%),
        2vw 0px 1px hsl(345, 42%, 67%),
        3vw 0px 1px hsl(345, 42%, 57%),
        4vw 0px 1px hsl(345, 42%, 47%),
        5vw 0px 1px $primaryPink,
        -1vw 0px 1px hsl(54, 99%, 73%),
        -2vw 0px 1px hsl(54, 99%, 63%),
        -3vw 0px 1px hsl(54, 99%, 53%),
        -4vw 0px 1px hsl(54, 99%, 43%),
        -5vw 0px 1px $primaryYellow,
        ;
      }
    }
  }
}

