@import '../../resources/variables';

@keyframes breathe {
  0% { border-radius: 10% 25% 35% 50%; }
  20% { border-radius: 35% 50% 10% 25%; }
  40% { border-radius: 45% 25% 35% 50%; }
  60% { border-radius: 25% 35% 50% 20%; }
  80% { border-radius: 20% 45% 45% 30%; }
  100% { border-radius: 15% 20% 15% 20%; }
}

@media (max-width: 600px) {
  .App {
    .projects-section-container {

      .projects-wrapper {
        height: 60dvh;
        width: 100%;
        
        .carousel-buttons {
          height: $smallBtnH;
          font-size: $fsS;
        }

        .projects-section-header {
          font-size: $fsL;
        }

        .project-card {
          height: $imgM;

        }
      }
    }

      
    
  }
}

.projects-section-container {
  position: relative;
  @include flexCenter();
  border: 3px solid rgba($color: rgb(255, 255, 255), $alpha: .8);
  outline: 2px solid aqua;
  border-radius: 30px;
  background-color: rgba($color: rgb(170, 170, 170), $alpha: 1);
  height: 75dvh;
  width: 75dvw;
  z-index: 1;
  box-shadow: 0 0 100px white, 0 0 100px black inset;
  // animation: breathe 90s linear 0s infinite alternate forwards;

  .projects-wrapper { 
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    animation: breathe 70s linear 0s infinite alternate forwards;
    height: 95%;
    width: 95%;
    background-color: rgba($color: rgb(9, 214, 255), $alpha: 1);
    z-index: -5;

    .projects-section-header {
      grid-column: 1 / span 3;
      text-align: center;
      animation: turnOn 1200ms linear 1200ms 1 forwards;
      color: white;
      font-size: $fsXL;
      text-decoration: 7px underline rgb(250, 242, 182);
      text-shadow: 0 0 5px rgba($color: black, $alpha: 1);
      filter: brightness(0%);

        &.on span{
          animation: flicker 1000ms linear 1200ms 2 forwards;
        }
    }

    .projects-section-header span {
      filter: brightness(0%);
      font-size: $fsM;
      text-decoration: underline white 7px;
      color: hotpink;
    }
  
  
    .carousel-buttons {
      @include flexCenter();
      height: $bigBtnH;
      aspect-ratio: 4 / 3;
      font-size: $fsL;
      color: orange;
      background-color: rgba($color: white, $alpha: .50);
      border: 3px double white;
      outline: 3px double goldenrod;
      box-shadow: 0 0 5px goldenrod, 0 0 5px white inset;
      text-shadow: 0 0 5px orangered;
      -webkit-text-stroke: 1px black;
      
  }

  .carousel-buttons:hover,
  .carousel-buttons:focus {
    filter: brightness(150%);
  }

  .go-left-button {
    background-color: rgba($color: black, $alpha: .15);
    transform: rotate(180deg);
    // left: 3%;
  }

  .go-right-button {
    background-color: rgba($color: black, $alpha: .15);
    // right: 3%;
  }

  }
  .projects-wrapper::before {
    position: absolute;
    content: ' ';
    height: 65dvh;
    width: 50dvw;
    transform: rotate(-5deg);
    background-color: rgba($color: yellow, $alpha: 0.5);
    z-index: -5;
    animation: breathe 30s linear 0s infinite alternate forwards;
  }
  .projects-wrapper::after {
    position: absolute;
    content: ' ';
    height: 55dvh;
    width: 45dvw;
    background-color: rgba($color: hotpink, $alpha: .5);
    transform: rotate(4deg);
    z-index: -5;
    animation: breathe 45s linear 0s infinite alternate forwards;
  }
}

