@import '../../resources/variables';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.welcome-container {
  position: relative;
  margin-top: 5vh;
  font-family: $threeDFont, serif;

  .welcome-header {
    padding: clamp(1rem, 2vw, 2rem) clamp(1rem, 1vw, 2rem);
    font-size: clamp(1.25rem, 5vw, 4rem);
    display: flex;
    justify-content: start;
    z-index: 10;

    .hello {
      color: white;
      opacity: 0;
      animation: fadeIn 700ms ease-in-out 200ms forwards;
    }

    .friends {
      margin-left: 10px;
      color: hsl(170, 42%, 49%);
      opacity: 0;
      animation: fadeIn 1000ms ease-in-out 900ms forwards;
    }
  }  

  .welcome-body {
    animation: reveal 2000ms ease 2000ms forwards;
    padding: clamp(1rem, 2vw, 2rem) clamp(1rem, 1vw, 2rem);
    font-size: clamp(1.25rem, 3.5vh, 4rem);
    background: linear-gradient(90deg, goldenrod, rgb(255, 190, 69), orange 50%, #46532c 50% 100%);
    background-size: 200%;
    background-position: right;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

}


