@keyframes flicker {
  0% { filter: brightness(30%) }
  5% { filter: brightness(100%)}
  10% { filter: brightness(30%)}
  15% { filter: brightness(100%)}
  20% { filter:brightness(30%)}
  70% { filter:brightness(110%)}
  100% { filter:brightness(120%) }
}

.welcome-container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85dvh;
  width: 50dvw;
  filter: brightness(20%);
  animation: flicker 2s linear 5s 1 forwards;

  .welcome-sign-img {
    width: 30dvw;
    aspect-ratio: 3 / 2;
  }
}