@import '../../resources/variables';

@keyframes whiteNoise {

  20% { background-image: url('../../resources/white-noise-bg1.svg');}
  21% { background-image: url('../../resources/white-noise-bg2.svg');}
  22% { background-image: url('../../resources/white-noise-bg3.svg');}
  23% { background-image: url('../../resources/white-noise-bg4.svg');}

  50% { background-image: url('../../resources/white-noise-bg1.svg');}
  51% { background-image: url('../../resources/white-noise-bg2.svg');}
  52% { background-image: url('../../resources/white-noise-bg3.svg');}
  53% { background-image: url('../../resources/white-noise-bg4.svg');}

  75% { background-image: url('../../resources/white-noise-bg1.svg');}
  76% { background-image: url('../../resources/white-noise-bg2.svg');}
  77% { background-image: url('../../resources/white-noise-bg3.svg');}
  78% { background-image: url('../../resources/white-noise-bg4.svg');}

}


.welcome-container {
  position: relative;
  min-width: 100%;
  aspect-ratio: 3 / 2;
  margin-top: 5vh;
  background-image: 
  linear-gradient(90deg, antiquewhite, rgb(195, 189, 148)),
  linear-gradient(90deg, #c0ffee, #c0ffee);
  background-size: 100% 60%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  font-family: $threeDFont, cursive;
  
  
  .waves {
      position: absolute;
      width: 100%;
    }

  .welcome-header {
    padding: clamp(1rem, 2vw, 2rem) clamp(1rem, 1vw, 2rem);
    font-size: clamp(1.85rem, 5vw, 4.5rem);

    .letter {
      color: transparent;
      background-image: linear-gradient(0deg, rgb(0, 200, 255), rgb(52, 254, 187));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-stroke: 1px black;
      z-index: 100;

    }
  }

  .welcome-subheader {
    padding-inline: clamp(1rem, 2vw, 2rem);
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-family: $groovyFont;
    font-weight: 400;
    color: white;
    -webkit-text-stroke: 1px black;

    .my-name {
      color: transparent;
      background-image: linear-gradient(0deg, hsl(81, 69%, 30%), white, hsl(55, 89%, 76%));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-stroke: 2px white;
      text-shadow: 
        0px 0vh 0 hsl(81, 69%, 20%),
        0px .5vh 0 hsl(81, 69%, 40%),
        0px 1vh 0 hsl(81, 69%, 50%),
        0px 1.5vh 0 hsl(81, 69%, 60%),
        0px 2vh 0 hsl(81, 69%, 70%);
    }
  }

  .tv-display {
    margin-top: 3vh;
    position: relative;
    @include flexCenter();

    .old-tv-img {
      width: 100%;
      z-index: 10;
    }
  
    .tv-tint {
      color: aquamarine;
      font-size: clamp(.75rem, 2.75vw, 2.5rem);
      position: absolute;
      @include flexCenter();
      width: 60%;
      height: 100%;
      background-image: radial-gradient(circle at center, grey 0% 50%, black 100%);
      background-size: 75% 70%;
      background-repeat: no-repeat;
      background-position: center;
      filter: grayscale(80%);
      transition: filter 500ms;
    }

    &:hover .tv-tint {
      animation: whiteNoise 10s linear 0s 1;
      color: transparent;
    }
  }
  
  
}


