@import '../../resources/variables';

@keyframes rotate {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(90deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(270deg);}
  100% { transform: rotate(360deg);}
}

@keyframes flicker {
  0% { filter: brightness(30%) }
  5% { filter: brightness(100%)}
  10% { filter: brightness(30%)}
  15% { filter: brightness(100%)}
  20% { filter:brightness(30%) }
  70% { filter:brightness(110%) }
  100% { filter:brightness(120%) }
}

@media (min-width: 320px) and (max-width: 400px) {
  .App {
    .about-container {
      .arrows-transition {
        .arrow-1,
        .arrow-3 {
          height: $imgS;
        }
        .arrow-2,
        .arrow-4 {
          height: calc($imgS + 5px);
        }
      }
    }
  }
} //should be done

@media (max-width: 780px) {
  .App {
    .about-container {
      .arrows-transition {
        
        .arrow-1,
        .arrow-3 {
          height: $imgS;
        }
        .arrow-2,
        .arrow-4 {
          height: calc($imgS + 25px);
        }
      }

      .about-section-header {
        font-size: $fsL;
      }

      .about-section-content {
        ul {
          display: flex;
          flex-direction: column;
        }
        img {
          height: $imgM;
        }

        p {
          font-size: $fsS;
          flex-shrink: 2;
        }

        .list-item {
          @include flexCenter();
          width: 100%;
        }

        .get-up {
          order: 2;
        }
      }
    }
  }
}

.about-container {
  @include flexCenter();
  flex-direction: column;
  color: white;

  .arrows-transition {
    margin-block: 100px 50px;

    .arrow-1 {
      height: 15dvh;
      filter: hue-rotate(90deg);
      transform: rotateY(180deg);
    }
    .arrow-2 {
      height: 10dvh;
      filter: hue-rotate(0deg);
    }
    .arrow-3 {
      height: 20dvh;
      filter: hue-rotate(45deg);
    }
    .arrow-4 {
      height: 15dvh;
      filter: hue-rotate(300deg);
      transform: rotateY(180deg);
    }
  }

  .about-section-header {
      margin-block: 50px 100px;
      color: white;
      font-size: $fsXL;
      text-decoration: 7px underline rgb(250, 242, 182);
      text-shadow: 0 0 5px rgba($color: black, $alpha: 1);
  }

  .about-section-header span {
    text-decoration: underline white 7px;
    color: rgb(9, 214, 255);
    text-shadow: 0 0 8px rgb(9, 214, 255);
  }

  .about-section-content {
    ul {
      @include flexCenter();
      list-style-type: none;
      padding-inline: 20px;
    }

    li {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: contrast(130%);
      gap: 15px;
      margin-block: 30px;
      transition: 500ms;
      padding-inline: 5px;
    }

    li:hover {
      color: rgb(255, 213, 135);
    }

    img {
      border-radius: 50%;
      height: $imgL;
      aspect-ratio: 1 / 1;
      outline: 5px double goldenrod;
      box-shadow: inset 0 0 20px white, 0 0 30px goldenrod;
      border: 5px double white;
  }

    p {
      height: 100%;
      font-size: $fsS;
      width: 50%;
    }
  }

  
}
