*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

html {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}