@import './components/nav/nav.styles';
@import './resources/variables';
@import './components/welcome/welcome.styles';

@keyframes discoLights {
  0% { 
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes discoGlow {
  0% { 
    filter: grayscale(0%);
  }
  25% {
    filter: grayscale(25%);
  }
  50% {
    filter: grayscale(75%);
  }
  75% {
    filter: grayscale(35%);
  }
  100% {
    filter: grayscale(0%);
  }
}
@keyframes discoMove {
  0% {
    transform: translate(0vw, 0vw);
  }
  
  20% {
    transform: translate(10vw, 10vw);
  }
  
  40% {
    transform: translate(20vw, -20vw);
  }
  
  60% {
    transform: translate(-10vw, 0vw);
  }
  
  80% {
    transform: translate(-20vw, 20vw);
  }
  
  100% {
    transform: translate(10vw, -30vw);
  }
  
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color: hsl(80, 30%, 25%);
  display: grid;
  justify-items: center;
}

body {
  max-width: 1200px;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.App {

  .bg-lights-container {
    position: relative;
    width: 90%;
    height: 50vh;

    .grid-overlay {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      position: absolute;
      inset: 0;
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
  
  
      .grid-cell {
        display: inline-block;
        width: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: hsla(0, 0%, 100%, 0.35);
  
        &:nth-child(4n) {
          box-shadow: 0 0 5px inset $primaryPink, 0 0 15px  $primaryPink;
          max-width: 12%;
        }
        &:nth-child(4n - 1) {
          box-shadow: 0 0 5px inset $primaryYellow, 0 0 15px $primaryYellow;
          max-width: 15%;
        }
        &:nth-child(4n - 2) {
          box-shadow: 0 0 5px inset $primaryBlue, 0 0 15px $primaryBlue;
          max-width: 18%;
        }
        &:nth-child(4n - 3) {
          box-shadow: 0 0 5px inset $accentNeutral, 0 0 15px inset $accentNeutral;
          max-width: 8%;
        }
  
        @for $i from 1 to 101 {
          &:nth-child(#{$i}) {
            animation: 
            discoGlow calc(1s * #{$i}) infinite alternate,
            discoLights calc(.75s * #{$i}) infinite,
            discoMove calc(2.3s * #{$i}) infinite -1000s alternate;
        }
        }
      }
    }
  
  
  }
  
}

//scroll-bar styles
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  width: 2em;
  border-radius: 100vw;
  background: linear-gradient(
    90deg,
    $primaryYellow 25%,
    $primaryBlue 25% 50%,
    $primaryPink 50% 75%,
    $accentNeutral 75% 100%
  );
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    rgba($color: $accentNeutral, $alpha: 1) 10%,
    rgba($color: $primaryPink, $alpha: 1) 10% 20%,
    rgba($color: $accentNeutral, $alpha: 1) 20% 30%,
    rgba($color: $primaryBlue, $alpha: 1) 30% 40%,
    rgba($color: $accentNeutral, $alpha: 1) 40% 50%,
    rgba($color: $primaryPink, $alpha: 1) 50% 60%,
    rgba($color: $accentNeutral, $alpha: 1) 60% 70%,
    rgba($color: $primaryBlue, $alpha: 1) 70% 80%,
    rgba($color: $accentNeutral, $alpha: 1) 80% 90%,
    rgba($color: $primaryPink, $alpha: 1) 90% 100%
  );
  border: 1px double white;
  outline: 3px double goldenrod;
  border-radius: 100vw;
  box-shadow: inset 0 0 5px white, 0 0 5px goldenrod;
}
