@import '../../resources/variables';

@keyframes fade-in {
  from {
    filter: brightness(0%);
  }
  to {
    filter: brightness(120%);
  }
}

@keyframes flicker-on {
  0% { filter: brightness(0%);
      text-shadow: none;
      }
  10% { filter: brightness(100%);
    text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  20% { filter: brightness(0%);
      text-shadow: none;
      }
  30% { filter: brightness(100%);
    text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  40% { filter: brightness(0%);
      text-shadow: none;
      }
  50% { filter: brightness(55%);
        text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  60% { filter: brightness(0%);
        text-shadow: none;
      }
  70% { filter: brightness(25%);
        text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  80% { filter: brightness(75%);
        text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  90% { filter: brightness(75%);
        text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  100% { filter: brightness(120%) saturate(200%);
        text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
}

@media (max-width: 600px) {
  .App {
    .nav-container {
      position: fixed;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      height: clamp(60px, 12dvh, 80px);
      align-items: center;
      justify-items: end;
    
      .logo-container {
        height: 100%;
        aspect-ratio: 5 / 3;
      }

      .nav-item-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: $fsS;
      }
  }
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .App {

    .nav-container{

      .nav-item-container {
        width: 55%;
      }
    }
  }
}

.nav-container {
  position: fixed;
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  height: clamp(70px, 12dvh, 90px);
  z-index: 10;
  background: linear-gradient(180deg, rgba($color: black, $alpha: 1),rgba($color: black, $alpha: 0.9), rgba($color: black, $alpha: 0.75), rgba($color: black, $alpha: 0.6), rgba($color: black, $alpha: 0.5), rgba($color: black, $alpha: 0.4), rgba($color: black, $alpha: 0.2), transparent);
  padding: 5px 30px;

  .logo-container {
    height: 95%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);   
    grid-template-rows: repeat(2, 1fr);
    border: 5px solid $accentAqua;
    box-shadow: 4px 4px 15px $accentAqua, 4px 4px 15px $accentAqua inset, -4px -4px 15px $accentAqua inset;
    border-radius: 1em;
    animation: flicker-on 500ms 200ms 1 forwards;
    text-decoration: 3px underline $accentNeutral;

    .do-logo {
      align-self: end;
      color: $accentNeutral;
      animation: flicker-on 2000ms 500ms 1 forwards;
    }

    .what-logo {
      align-self: end;
      color: $accentNeutral;
      animation: flicker-on 1500ms 500ms 1 forwards;
    }

    .you-logo {
      align-self: end;
      color: $accentNeutral;
      animation: flicker-on 700ms 500ms 1 forwards;
    }

    .love-logo {
      grid-column: span 3;
      color: $primaryPink;
      animation: flicker-on 4000ms 500ms 1 forwards;
    }
  
  }
  
  .nav-item-container {
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 30%;
    font-size: $fsM;

    .nav-item {
      text-decoration: none;
      border-bottom: 5px solid $accentNeutral;
    }

    #projects-nav {
      color: $primaryPink;
      text-shadow: 3px 3px 4px $primaryPink;
      animation: fade-in 1500ms 1 forwards;
    }
    #about-me-nav {
      color: $primaryBlue;
      text-shadow: 3px 3px 4px $primaryBlue;
      animation: fade-in 3000ms 1 forwards;
    }
    #contact-nav {
      color: $primaryYellow;
      text-shadow: 3px 3px 4px $primaryYellow;
      animation: fade-in 4500ms 1 forwards;
    }
  }
}
