@import '../../resources/variables';

@keyframes fade-in {
  from {
    filter: brightness(0%);
  }
  to {
    filter: brightness(120%);
  }
}

@keyframes flicker-on {
  0% { filter: brightness(0%);
      text-shadow: none;
      }
  10% { filter: brightness(100%);
    text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  20% { filter: brightness(0%);
      text-shadow: none;
      }
  30% { filter: brightness(100%);
    text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  40% { filter: brightness(0%);
      text-shadow: none;
      }
  50% { filter: brightness(55%);
        text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  60% { filter: brightness(0%);
        text-shadow: none;
      }
  70% { filter: brightness(25%);
        text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  80% { filter: brightness(75%);
        text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  90% { filter: brightness(75%);
        text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
  100% { filter: brightness(120%) saturate(200%);
        text-shadow: 1px 1px 8px, -1px -1px 8px;
      }
}

@media (max-width: 600px) {
  .App {
    .nav-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    height: 50px;
    align-items: center;
    justify-items: end;
    
      .logo-container {
        height: 100%;
        width: 100%;
      }

      .nav-item-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
  }
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12dvh;
  z-index: 1000;
  background-color: rgba($color: black, $alpha: .7);
  border-bottom: 3px solid rgba($color: black, $alpha: 1.0);

  .logo-container {
    height: 95%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);   
    grid-template-rows: repeat(2, 1fr);
    border: 5px solid $accentAqua;
    box-shadow: 4px 4px 15px $accentAqua, 4px 4px 15px $accentAqua inset, -4px -4px 15px $accentAqua inset;
    border-radius: 1em;
    animation: flicker-on 500ms 200ms 1 forwards;
    text-decoration: none;

    .do-logo {
      align-self: end;
      color: $accentNeutral;
      animation: flicker-on 2000ms 500ms 1 forwards;
    }

    .what-logo {
      align-self: end;
      color: $accentNeutral;
      animation: flicker-on 1500ms 500ms 1 forwards;
    }

    .you-logo {
      align-self: end;
      color: $accentNeutral;
      animation: flicker-on 700ms 500ms 1 forwards;
    }

    .love-logo {
      grid-column: span 3;
      color: $primaryPink;
      animation: flicker-on 4000ms 500ms 1 forwards;
    }
  
  }
  
  .nav-item-container {
    scroll-behavior: smooth;

    .nav-item {
      text-decoration: none;
      border-bottom: 5px solid $accentNeutral;
    }

    #projects-nav {
      color: $primaryPink;
      text-shadow: 1px 1px 8px;
      -webkit-text-stroke: 1px $primaryPink;
      animation: fade-in 1500ms 1 forwards;
    }
    #about-me-nav {
      color: $primaryBlue;
      text-shadow: 1px 1px 8px;
      -webkit-text-stroke: 1px $primaryBlue;
      animation: fade-in 3000ms 1 forwards;
    }
    #contact-nav {
      color: $primaryYellow;
      text-shadow: 1px 1px 8px;
      -webkit-text-stroke: 1px $primaryYellow;
      animation: fade-in 4500ms 1 forwards;
    }
  }
}
